* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  --accent-color: #516beb;
  --text-color: 20, 20, 20;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: #bd7200;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--background-color), 1);
  transition: background-color 0.3s;
}

body[data-theme="dark"] {
  --accent-color: #a4b3ff;
  --text-color: 220, 220, 220;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: #ffeb3b;
  sm-popup::part(popup) {
    background-color: rgba(var(--foreground-color), 1);
  }
}

p,
strong {
  font-size: 0.9rem;
  max-width: 70ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.8);

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

a:where([class]) {
  color: inherit;
  text-decoration: none;

  &:focus-visible {
    box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
  }
}

a {
  text-decoration: none;
  color: var(--accent-color);
  &:focus-visible {
    box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
  }
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
button,
.button {
  user-select: none;
  position: relative;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  font-size: inherit;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.8rem;
  border-radius: 0.3rem;
  justify-content: center;
  flex-shrink: 0;
  &:focus-visible {
    outline: var(--accent-color) solid medium;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.button {
  background-color: rgba(var(--text-color), 0.02);
  border: solid thin rgba(var(--text-color), 0.06);
  &--primary {
    color: rgba(var(--background-color), 1);
    background-color: var(--accent-color);

    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }
  &--colored {
    color: var(--accent-color);
    .icon {
      fill: var(--accent-color);
    }
  }
  &--danger {
    background-color: #ff737310;
    color: var(--danger-color);
    .icon {
      fill: var(--danger-color);
    }
  }

  &--small {
    padding: 0.4rem 0.6rem;
  }

  &--outlined {
    border: solid rgba(var(--text-color), 0.3) 0.1rem;
    background-color: rgba(var(--foreground-color), 1);
  }
  &--transparent {
    background-color: transparent;
  }
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  filter: saturate(0);
}

.cta {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.8rem 1rem;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}
input {
  accent-color: var(--accent-color);
}
sm-input {
  font-size: 0.9rem;
  --border-radius: 0.3rem;
}
sm-form {
  --gap: 1rem;
}
sm-copy {
  font-size: 0.9rem;
}
ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap-around {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.full-bleed {
  grid-column: 1/4;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-3 {
  grid-template-columns: 1fr auto auto;
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-3 {
  gap: 0.3rem;
}
.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.interact {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.ripple {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(
    circle,
    rgba(var(--text-color), 0.3) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  pointer-events: none;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.8);
}

.margin-right-0-5 {
  margin-right: 0.5rem;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-left-0-5 {
  margin-left: 0.5rem;
}
.margin-left-auto {
  margin-left: auto;
}
.icon-only {
  padding: 0.5rem;
  aspect-ratio: 1/1;
  background-color: transparent;
}

.icon-button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: var(--accent-color--light);
  height: max-content;
  .icon {
    fill: var(--accent-color);
  }
}
.empty-state {
  display: grid;
  text-align: center;
  justify-items: center;
  width: 100%;
  max-width: none;
  padding: 1.5rem;
  &__icon {
    height: 3rem;
    width: 3rem;
    padding: 0.6rem;
    border-radius: 1rem;
    background-color: rgba(var(--text-color), 0.06);
    margin-bottom: 1rem;
  }
}

.observe-empty-state:empty {
  display: none !important;
}

.observe-empty-state:not(:empty) + .empty-state {
  display: none !important;
}
#confirmation_popup,
#prompt_popup {
  flex-direction: column;
  h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .flex {
    margin-top: 1rem;
  }
}
#prompt_message {
  margin-bottom: 1.5rem;
}
.popup__header {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem;
  align-items: center;
  justify-items: flex-start;
}

.popup__header__close {
  padding: 0.5rem;
  margin-left: -0.5rem;
}

#main_page {
  padding: 1.5rem;

  & > section:nth-of-type(1) {
    align-content: flex-start;
  }
}
.logo {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 0 0.3rem;
  margin-right: auto;
  h4 {
    text-transform: capitalize;
    font-weight: 600;
  }

  .main-logo {
    height: 1.4rem;
    width: 1.4rem;
    fill: rgba(var(--text-color), 1);
    stroke: none;
  }
}
details {
  &:not(:last-of-type) {
    border-bottom: thin solid rgba(var(--text-color), 0.3);
  }
  summary {
    display: flex;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    padding: 1rem 0;
  }
  .icon {
    flex-shrink: 0;
  }
  &[open] {
    padding-bottom: 1rem;
    summary {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
sm-chips {
  --gap: 0;
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 0.2rem;
}

sm-chip {
  position: relative;
  font-size: 0.9rem;
  --border-radius: 0.5rem;
  --padding: 0.5rem 0.8rem;
  --background: rgba(var(--text-color), 0.06);
  user-select: none;
  font-weight: 500;
  &[selected] {
    --background: var(--accent-color);
    color: rgba(var(--background-color), 1);
  }
  &:first-of-type {
    --border-radius: 0.3rem 0 0 0.3rem;
  }
  &:last-of-type {
    --border-radius: 0 0.3rem 0.3rem 0;
  }
}
sm-checkbox {
  --height: 1rem;
  --width: 1rem;
  -webkit-tap-highlight-color: transparent;
}
.warning {
  background-color: khaki;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
}
.tip {
  border-radius: 1.5rem;
  background-color: rgba(var(--text-color), 0.06);
  padding: 0.3rem 0.8rem;
  font-size: 0.85rem;
  .icon {
    fill: var(--accent-color);
    flex-shrink: 0;
  }
}
.tooltip {
  display: flex;
  position: relative;
  z-index: 8;
  cursor: pointer;
  .banner {
    position: absolute;
    right: 0;
    top: 100%;
    width: min(20rem, calc(100vw - 1rem));
    display: none;
    font-size: 0.9rem;
    background-color: rgba(var(--foreground-color), 1);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    border: solid thin rgba(var(--text-color), 0.2);
  }
  &:hover .banner {
    display: block;
  }
}
.page-layout {
  display: grid;
  grid-template-columns: 1.5rem minmax(0, 1fr) 1.5rem;
  & > * {
    grid-column: 2/3;
  }
}
.page {
  height: 100%;
}
.mobile-page {
  align-items: flex-start;
}
#loading {
  .rm-logo {
    height: 3rem;
    width: 3rem;
    padding: 0.8rem;
    background-color: rgba(var(--text-color), 0.06);
    border-radius: 5rem;
    justify-self: center;
  }
}
#landing {
  grid-template-rows: auto 1fr;
  header {
    padding: 1.5rem 0;
  }
  & > .grid {
    align-content: flex-start;
    text-align: center;
    gap: 1rem;
  }
}

#sign_up {
  grid-template-rows: auto 1fr;
  align-items: center;
  section {
    margin-top: -6rem;
    justify-self: center;
    width: min(24rem, 100%);
  }
  header {
    padding: 1.5rem 0;
  }
  .h2 {
    margin-bottom: 0.5rem;
  }
  h5 {
    font-weight: 500;
    color: rgba(var(--text-color), 0.8);
  }
  .warning {
    margin-top: 2rem;
  }
}
.loader-button-wrapper {
  display: grid;
  text-align: center;
  & > * {
    grid-area: 1/1/2/2;
  }
  button {
    z-index: 1;
  }
  sm-spinner {
    justify-self: center;
    align-self: center;
  }
}
#home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
#login_section {
  display: flex;
  width: 100%;
}
#login_form__priv_key {
  margin-top: 1rem;
}
#flo_id_warning {
  padding-bottom: 1.5rem;
  .icon {
    height: 3rem;
    width: 3rem;
    padding: 0.8rem;
    overflow: visible;
    background-color: #ffc107;
    border-radius: 3rem;
    fill: rgba(0, 0, 0, 0.8);
  }
}

#main_header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
  align-items: center;
}
#user_popup_button {
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 2rem;
  font-size: 0.8rem;
}
#main_navbar {
  width: 100%;
}
.main_navbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0.5rem 0;
  .item__title,
  .icon {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.3s;
  }
  .item__title {
    color: rgba(var(--text-color), 0.8);
    font-size: 0.8rem;
    font-weight: 500;
  }
  .icon {
    height: 1.2rem;
    margin-bottom: 0.3rem;
  }
  &--active {
    .item__title {
      color: var(--accent-color);
    }
    .icon {
      fill: var(--accent-color);
    }
  }
}
#pages_container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  & > * {
    padding: 0 1.5rem;
    min-width: min(26rem, 100%);
  }
}
.listed-asset {
  position: relative;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-weight: 400;
  transition: background-color 0.3s;
  user-select: none;
  color: inherit;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "icon name rate right-arrow" "icon name countdown right-arrow";
  &__icon {
    grid-area: icon;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    background-color: var(--accent-color);
    .icon {
      height: 1.2rem;
      width: 1.2rem;
      fill: rgba(var(--background-color), 1);
    }
  }
  &__name {
    grid-area: name;
    margin-left: 0.3rem;
  }
  &__rate {
    grid-area: rate;
  }
  &__countdown {
    display: flex;
    align-items: center;
    grid-area: countdown;
    justify-self: flex-end;
    font-size: 0.8rem;
    color: var(--accent-color);
    .icon {
      margin-left: 0.3rem;
      overflow: visible;
      stroke-width: 3;
      fill: none;
      .path-a {
        stroke: var(--accent-color);
        stroke-dashoffset: var(--path-length, 0);
        stroke-dasharray: 63;
      }
      .path-b {
        stroke: rgba(var(--text-color), 0.2);
      }
    }
  }
  &__right-arrow {
    grid-area: right-arrow;
    background-color: rgba(var(--text-color), 0.1);
    border-radius: 1rem;
    padding: 0.1rem;
    margin-left: 0.3rem;
  }
}
.quantity-selector {
  .button {
    flex: 1;
    padding: 0.5rem 0.6rem;
    margin-left: 0.5rem;
  }
}
#quantity_selector_tip {
  &::first-letter {
    text-transform: uppercase;
  }
}

#quantity_type,
#portfolio_quantity_type {
  font-size: 0.8rem;
  padding-right: 0.5rem;
  border-right: thin solid rgba(var(--text-color), 0.3);
  margin-right: auto;
  color: rgba(var(--text-color), 0.8);
  line-height: 1.5;
  font-weight: 500;
  min-width: 8ch;
}
#exchange_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#asset_page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}
#asset_page_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#trade_form {
  height: 100%;
  &::part(form) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  & > * {
    margin-bottom: 1rem;
  }
  & > :last-child {
    margin-top: auto;
  }
}
#my_orders,
#market {
  width: min(46rem, 100%);
  height: max-content;
}
#my_orders {
  grid-template-rows: auto 1fr;
}
.orders_section__header {
  min-height: 2.8rem;
  position: sticky;
  top: 0;
  background-color: rgba(var(--background-color), 1);
  z-index: 2;
  transition: background-color 0.3s;
}

.list__item {
  padding: 0.5rem 0;
  display: grid;
}
.order-card {
  position: relative;
  outline: none;
  user-select: none;
  align-items: center;
  gap: 0.5rem;
  grid-template-columns: min-content 1fr auto;
  border-radius: 0.5rem;
  grid-template-areas: "checkbox quantity quantity time" "checkbox price amount cancel";
  & > .grid {
    &:nth-of-type(2) {
      grid-area: price;
    }
    &:nth-of-type(3) {
      grid-area: amount;
    }
  }
  &__type {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  &[data-type="buy"] &__type {
    color: var(--green);
  }

  &[data-type="sell"] &__type {
    color: var(--danger-color);
  }
  &--selected {
    background-color: rgba(var(--text-color), 0.08);
    .cancel-order {
      visibility: hidden;
      pointer-events: none;
    }
  }
  sm-checkbox {
    grid-area: checkbox;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  &__quantity,
  &__price {
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.9);
  }

  &__time {
    grid-area: time;
    font-size: 0.8rem;
    color: rgba(var(--text-color), 0.8);
  }
  .cancel-order {
    grid-area: cancel;
    color: var(--danger-color);
    .icon {
      fill: var(--danger-color);
    }
  }
}
.cancel-order {
  align-items: center;
  padding: 0.4rem 0.6rem;
  span {
    margin-left: 0.3rem;
  }
}
.completed-trade,
.transaction-card,
.live-order {
  gap: 0 1rem;
  &__type {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }
  &[data-type="Bought"] &__type,
  &--buy &__type {
    color: var(--green);
  }
  &[data-type="Sold"] &__type,
  &--sell &__type {
    color: var(--danger-color);
  }
  &__total {
    font-weight: 700;
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.8);
  }
  &__quantity,
  &__price {
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.9);
  }
  &__time {
    font-size: 0.8rem;
    color: rgba(var(--text-color), 0.8);
  }
  .more-info {
    flex-shrink: 0;
    padding: 0.3rem;
  }
}
.transaction-card {
  content-visibility: auto;
  contain-intrinsic-size: 2.5rem;
  grid-template-columns: repeat(3, 1fr) 2rem;
}
.completed-trade {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(var(--text-color), 0.03);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
#market_asset_rates {
  display: grid;
  gap: 0.5rem;
  .listed-asset {
    padding: 1rem;
    background-color: rgba(var(--text-color), 0.03);
  }
}
#market_orders_wrapper {
  .list__header {
    font-size: 0.8rem;
    font-weight: 500;
    div {
      padding: 0.5rem 0;
    }
  }
  .list__header {
    margin-bottom: 0.5rem;
    grid-template-columns: repeat(3, 1fr) 2rem;
  }
}
.live-order {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--text-color), 0.03);
  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
  &[data-type="buy"] {
    background-color: #00fa9a10;
  }
  &[data-type="sell"] {
    background-color: #e2135110;
  }
}
#portfolio {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: minmax(0, 1fr);
  align-content: flex-start;
  width: min(32rem, 100%);
}
.label {
  font-size: 0.8rem;
  color: rgba(var(--text-color), 0.8);
  margin-bottom: 0.2rem;
}
#my_assets {
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 1.5rem;
  border: none;
}
.balance-card {
  display: grid;
  align-items: center;
  gap: 0 0.5rem;
  padding: 1rem;
  padding-left: 0.6rem;
  border-radius: 0.3rem;
  color: inherit;
  background-color: rgba(var(--text-color), 0.03);
  &.is-locked {
    grid-template-columns: auto 1fr auto;
    .balance-card__icon {
      grid-row: span 2;
    }
    .balance-card__right-arrow {
      grid-area: 1/3/3/4;
    }
    .balance-card__amount-wrapper {
      grid-area: 2/2/3/3;
    }
  }
  &:not(.is-locked) {
    grid-template-columns: auto 1fr auto auto;
    .balance-card__right-arrow {
      grid-area: 1/4/2/5;
    }
  }
  &__icon {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 0.5rem;
    border-radius: 0.8rem;
    align-self: flex-start;
    background-color: var(--accent-color--light);
    .icon {
      height: 1.3rem;
      width: 1.3rem;
      fill: var(--accent-color);
    }
  }
  &__token {
    font-size: 0.9rem;
    font-weight: 500;
  }
  &__amount-wrapper {
    margin-top: 0.5rem;
    grid-column: 3/ -1;
    gap: 0.3rem 1rem;
    grid-template-columns: 1fr 1fr;
    & > :nth-child(even) {
      text-align: right;
    }
  }
  &__right-arrow {
    background-color: rgba(var(--text-color), 0.1);
    border-radius: 1rem;
    padding: 0.1rem;
    fill: var(--accent-color);
  }
}
#history {
  padding-top: 0 !important;
  width: min(36rem, 100%);
  .sticky {
    margin-left: -0.7rem;
    padding: 1rem 0;
    background-color: rgba(var(--background-color), 1);
  }
}
#exchange_history {
  margin-top: 0.5rem;
}
.history-entry {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem 1rem;
  align-items: center;
  margin-bottom: 2rem;
  &[data-status="SUCCESS"] {
    .history-entry__status {
      .icon {
        fill: var(--green);
      }
    }
  }
  &[data-status="PENDING"],
  &[data-status="WAITING_CONFIRMATION"] {
    .history-entry__status {
      .icon {
        fill: var(--yellow);
      }
    }
  }
  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/3;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(var(--text-color), 0.03);
    border-radius: 2rem;
  }
  &__token-action {
    font-weight: 500;
  }
  &__amount {
    font-weight: 500;
    text-align: right;
  }
  &[data-type="deposit"] {
    .history-entry__amount:not(:empty) {
      color: var(--green);
      &::before {
        content: "+ ";
      }
    }
  }
  &[data-type="withdraw"] {
    .history-entry__amount:not(:empty) {
      &::before {
        content: "- ";
      }
    }
  }
  &__time {
    font-size: 0.8rem;
    color: rgba(var(--text-color), 0.8);
  }
  &__txid {
    font-weight: 500;
    font-size: 0.9rem;
    text-align: right;
  }
}
#portfolio_asset_page {
  .sticky {
    margin-top: -1.5rem;
    margin-left: -0.7rem;
    padding: 1rem 0;
    background-color: rgba(var(--background-color), 1);
  }
}
#portfolio_asset__actions {
}
#portfolio_asset__history {
  margin-top: 1rem;
}
#portfolio_cards_wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
.personal-asset-balance {
  align-content: flex-start;
  padding: 1rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
  &:nth-of-type(1) {
    background: url("bg-art2.svg") no-repeat bottom right, hsl(141, 100%, 88%);
    background-size: contain;
    .icon {
      background-color: hsla(141, 100%, 70%, 0.5);
    }
    .button {
      border: solid thin hsla(141, 100%, 70%, 0.5);
    }
  }
  &:nth-of-type(2) {
    background: url("back.svg") no-repeat top right, hsl(62, 100%, 83%);
    background-size: contain;
    .icon {
      background-color: hsla(55, 100%, 50%, 0.5);
    }
  }
  & > .flex {
    margin-bottom: 0.3rem;
    .icon {
      height: 2rem;
      width: 2rem;
      padding: 0.4rem;
      border-radius: 0.3rem;
      fill: rgba(0, 0, 0, 0.8);
      margin-right: 0.5rem;
    }
  }
  .button {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    padding-right: 0.8rem;
    justify-self: flex-start;
    border-radius: 1rem;
    background-color: rgba(var(--foreground-color), 1);
    color: rgba(var(--text-color), 1);
    transition: box-shadow 0.3s;
    .icon {
      height: 1rem;
      background-color: transparent;
      margin-right: 0.3rem;
    }
    &:hover {
      box-shadow: 0 0.3rem 0.5rem rgba(0 0 0/ 0.16);
    }
  }
}
#personal_rupee_balance,
#personal_flo_balance {
  span:first-of-type {
    font-size: 1.5rem;
  }
  span:last-of-type {
    font-size: 0.9rem;
  }
}
#portfolio_result {
  justify-content: center;
  text-align: center;
  &__icon {
    display: flex;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(var(--text-color), 0.06);
    justify-self: center;
    animation: pop-up 0.3s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .icon {
      height: 2rem;
      width: 2rem;
    }
  }
}
.icon--success {
  fill: var(--green);
}
.icon--failure,
.icon--error {
  fill: var(--danger-color);
}
@keyframes pop-up {
  from {
    transform: translateY(3rem) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
#portfolio_result__cta {
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--text-color), 0.06);
}
.stateful-result {
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  & > * {
    position: absolute;
  }
  &--success {
    .result__background {
      background-color: var(--green);
    }
  }
  &--failure {
    .result__background {
      background-color: var(--danger-color);
    }
  }
  .icon-wrapper {
    animation: pop 0.4s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: rgba(var(--background-color), 1);
  }
  span {
    font-weight: 500;
    color: rgba(var(--background-color), 1);
  }
  .result__background {
    animation: ripple-reveal 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
.result__background {
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  clip-path: circle(10%);
}
@keyframes pop {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ripple-reveal {
  to {
    clip-path: circle(100%);
  }
}

#help {
  width: min(60ch, 100%);
  margin-bottom: 3rem;
  align-content: flex-start;
  ul {
    list-style: initial;
    display: grid;
    gap: 1rem;
    li {
      margin-left: 1rem;
      padding-left: 0.5rem;
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 40rem) and (any-hover: none) {
  .cancel-order {
    span {
      display: none !important;
    }
  }
}
@media screen and (max-width: 40rem) {
  .empty-state {
    align-self: center;
  }
  #user_popup_button {
    width: 100%;
  }
  .main_navbar__item--active {
    .item__title {
      transform: translateY(100%);
      opacity: 0;
    }
    .icon {
      transform: translateY(50%) scale(1.2);
    }
  }
  #asset_list_wrapper {
    padding: 0 1.5rem;
  }
  .listed-asset {
    border-radius: 0;
    border-bottom: solid thin rgba(var(--text-color), 0.1);
  }
  #exchange {
    margin: 0;
    padding: 0;
  }
  #login_section {
    padding: 0 1.5rem;
  }
  #login_form {
    margin-top: 3rem;
  }
  #asset_page__header {
    display: flex;
    padding: 1rem 1.5rem 0.5rem 0.8rem;
  }
  #chart_header {
    padding: 0 1.5rem 0.5rem 1.5rem;
  }
  #trade_form {
    padding: 0 1.5rem;
  }
  #price_chart_container {
    flex: 1;
  }
  #asset_page__footer {
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      padding: 0.5rem 0;
      color: rgba(var(--text-color), 0.8);
      font-size: 0.8rem;
      font-weight: 500;
      .icon {
        height: 1.2rem;
        margin-bottom: 0.3rem;
        margin-right: 0.3rem;
      }
      &.active {
        color: var(--accent-color);
        .icon {
          fill: var(--accent-color);
        }
      }
    }
  }
  .hide-on-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 40rem) {
  sm-popup {
    --width: 24rem;
  }
  .popup__header {
    grid-column: 1/-1;
    padding: 1rem 1.5rem 0 1.5rem;
  }
  #confirmation_popup {
    --width: 24rem;
  }
  .page-layout {
    grid-template-columns: 1fr 90vw 1fr;
  }
  .mobile-page {
    align-self: flex-start;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--foreground-color), 1);
  }
  .hide-on-desktop {
    display: none !important;
  }
  #home {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "nav pages";
  }
  #main_header {
    grid-area: header;
  }
  #user_popup_button {
    justify-self: flex-end;
  }
  #main_navbar {
    grid-area: nav;
    flex-direction: column;
    height: 100%;
    padding-left: 0.5rem;
  }
  .main_navbar__item {
    padding: 1.5rem 2rem 1.5rem 1rem;
    width: 100%;
    flex: 0;
    flex-direction: row;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    .icon {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
    .item__title {
      font-size: 0.9rem;
    }
    &--active {
      background-color: rgba(var(--text-color), 0.06);
    }
  }
  #pages_container {
    grid-area: pages;
    & > * {
      margin: 0 1.5rem;
      padding: 2rem;
    }
  }
  #login_section {
    width: 24rem;
  }
  .is-signed-in {
    #exchange {
      display: flex;
      width: 100%;
    }
    #exchange_wrapper {
      display: grid;
      width: 100%;
      height: 100%;
      gap: 1.5rem;
      grid-template-columns: 17rem minmax(0, 1fr);
      align-items: flex-start;
    }
  }
  #price_history_chart {
    height: 20rem;
  }
  #asset_list_wrapper {
    grid-row: 1/3;
  }
  .listed-asset {
    padding: 1rem;
    &--active {
      opacity: 1;
      background-color: rgba(var(--text-color), 0.06);
      &::before {
        content: "";
        position: absolute;
        width: 0.25rem;
        border-radius: 0 0.2rem 0.2rem 0;
        height: 2rem;
        background-color: var(--accent-color);
      }
    }
  }
  .order-card {
    grid-template-columns: auto 1fr 1fr 1fr auto;
    grid-template-areas: "checkbox quantity price amount time cancel";
  }
  .orders_section__header {
    background-color: rgba(var(--foreground-color), 1);
  }
  #history,
  #portfolio_asset_page {
    .sticky {
      background-color: rgba(var(--foreground-color), 1);
    }
  }
}
@media screen and (max-width: 80rem) and (min-width: 40rem) {
  .main_navbar__item {
    padding: 1.5rem 1rem;
    .icon {
      margin-right: 0;
    }
    .item__title {
      display: none !important;
    }
  }
}
@media screen and (min-width: 52rem) {
  body:not(.is-signed-in) {
    #market {
      gap: 2rem;
      width: 100%;
      grid-template-columns: 18rem 1fr;
    }
  }
  .completed-trade {
    grid-template-columns: 1fr 1fr 1fr 8rem;
    grid-template-areas: "quantity price amount info";
    .quantity-block {
      grid-area: quantity;
    }
    .price-block {
      grid-area: price;
    }
    .amount-block {
      grid-area: amount;
    }
    .info-block {
      grid-area: info;
    }
  }
}
@media screen and (min-width: 64rem) {
  #home {
    grid-template-columns: auto 1fr;
  }
  #asset_page_wrapper {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: minmax(0, 1fr) 20rem;
  }
}
@media screen and (min-width: 72rem) {
  .page-layout {
    grid-template-columns: 1fr 80vw 1fr;
  }
}
@media screen and (min-width: 120rem) {
  .page-layout {
    grid-template-columns: 1fr 70vw 1fr;
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;

    &:hover {
      background: rgba(var(--text-color), 0.5);
    }
  }
  .order-card {
    .cancel-order {
      justify-self: flex-end;
      overflow: hidden;
      .icon,
      span {
        transition: opacity 0.3s, transform 0.3s;
      }
      .icon {
        transform: translateX(100%);
      }
      span {
        transform: translateX(100%);
        opacity: 0;
      }
    }
    &:hover,
    &:focus-within {
      .cancel-order {
        .icon {
          opacity: 1;
        }
      }
    }
    .cancel-order:hover {
      .icon,
      span {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
